<body style="background-color:blue;">
<p style="color:white">
	<%= link_to "Add Restaraunt", :controller=>"add_restaraunt", :action=>"add"%>
<h1 style="color:white">Restaraunt List</h1>
<p style="color:white">This is where the restaraunt database will appear on the page....Probably</p>
</body>